# See https://pylint.pycqa.org/en/latest/user_guide/configuration/all-options.html

[MAIN]

# TODO: Add class and module docstrings.
disable=missing-class-docstring,
        missing-module-docstring,
        dangerous-default-value,
        pointless-string-statement,
        unused-variable,
        fixme

# Specify a score threshold to be exceeded before program exits with error.
# Try to keep the threshold near the default of a perfect 10/10.
# However, for some reason, on github actions CI/CD the the scores slightly
# lower and fails, so let's use 9.50 instead of 9.75 for now.
fail-under=9.50

[FORMAT]

# Regexp for a line that is allowed to be longer than the limit.
ignore-long-lines=^\s*(# )?(See )?(and )?<?https?://\S+>?$

# Maximum number of characters on a single line.
max-line-length=120

# Maximum number of lines in a module.
max-module-lines=750

# Good variable names which should always be accepted, separated by a comma
# Default i,j,k,ex,Run,_
good-names=i,j,k,ex,Run,_,x,xs,y,ys,i1,i2,f,r,w,m,e,s,d,ax,t

[MISCELLANEOUS]

# List of note tags to take in consideration, separated by a comma.
notes=FIXME,XXX,TODO